<?xml version="1.0" encoding="utf-8"?>

<configuration>
<appSettings>
    <add key="AUTH_TYPE" value="fb" />
    <add key="TENANT_NICKNAME" value="netzoom-uhjpe" />
    <add key="TENANT_DISPLAY_NAME" value="NetZoom" />
    <add key="API_AT" value="n20api" />
    <add key="NODE_ENV" value="production" />
    <add key="DEPLOYMENT" value="OnPremises" />
    <add key="CLOUDRUN_URL" value="https://n20-storage-cloudrun-mkvwooi2sa-uc.a.run.app" />
    <add key="VALIDATION_CODE" value="test123" />
    <add key="FIREBASE_API_KEY" value="AIzaSyAIJWkLaM7kYogZ4FJWCNq3sWvK4N2awxY" />
    <add key="FIREBASE_AUTH_DOMAIN" value="n20-fb-01.firebaseapp.com" />
    <add key="FIREBASE_PROJECT_ID" value="n20-fb-01" />
    <add key="FIREBASE_APP_ID" value="1:608261150760:web:6d7e0eb75515a000657d1d" />
    <add key="FIREBASE_BUCKET" value="n20-bucket-01" />
    <add key="FIREBASE_LIBFOLDER" value="libfolder-01" />
    <add key="FIREBASE_VSSFOLDER" value="vssfolder-01" />
    <add key="FIREBASE_FSDB" value="default" />
  </appSettings>
  <system.webServer>
    <rewrite>
      <rules>
                <!-- Remove any inherited rewrite rules before applying the rules below -->
                <clear />

                <!-- Catch-all rule to support React client-side routing.
                     Rewrites any request that is not a physical file or directory to /index.html,
                     allowing the React app to handle the route on the client. -->
                <rule name="React Router" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
  </system.webServer>
</configuration>
