.nz-form-list-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.nz-form-list-container .nz-form-instance-container {
    width: 100%;
    height: 100%;
}

.nz-form-list-container .nz-form-controls-container {
    width: 100%;
    height: 100%;
}

.nz-form-list-container .nz-action-label-container {
    background-color: transparent;
}

.nz-form-list-container .nz-action-label-container.nz-selected {
    background-color: var(--selection);
}

.nz-add-edit-row-dialog .MuiPaper-root {
    resize: both;
    min-width: 540px !important;
    min-height: 200px !important;
    left: -32px;
    position: absolute;
}